<h1>Hello <%= @user.first_name %>,</h1>

<p>You got an answer to you question</p>

<p>Question title: <%= @item.name %></p>
<p>The answer: <%= @item.quantity %></p>

<p>Regards,</p>

<p>Inventory Team</p>
