<br>
<div class="container">
  <div class="text-center">
    <h1>Welcome to Home Page</h1><br>
    <h1>This App can manage your inventory business</h1>
    <h3>easily control your stock, manage orders, and run your business efficiently</h3>
  </div>
</div>
