<%= render "layouts/navbar" %>
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h3 class="">All Category List</h3><br>
    <% @categories.each do |category| %>
    <div>
      <h3><%=link_to category.name, category_path(category) %></h3>
        <%= link_to "Edit", edit_category_path(category) %> |
        <%= link_to "Delete", edit_category_path(category),
                                            method: :delete,
                                            data: { confirm: "Are you Sure?"} %>

    </div>
    <hr>
      <% end %>
  </div>

</div>
