<%= render "layouts/navbar" %>
<div class="container"><br>
  <div class="row">
      <div class="col-md-6">
        <div class="well">
        <h2><%= @category.name %></h2>
        <div>
          <%= link_to "Edit", edit_category_path(@category), class: "btn btn-primary" %>
          <%= link_to "Delete", edit_category_path(@category),
                                              class: "btn btn-danger",
                                              method: :delete,
                                              data: { confirm: "Are you Sure?"} %>
        </div>
      </div>
    </div>
  </div>
</div>
